* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}

.app-wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px,200px) 3fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: 
    'header header'
    'aside main'
    'footer footer'
  ;   
  grid-gap: 10px;
}
.header,
.aside,
.main,
.footer {
  border:1px solid lightslategray;
  border-radius: 12px;
}



